{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
<h1>영화 등록 페이지</h1>
<form action="{% url 'movies:create' %}" method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}
  <label for="title">영화명 : </label>
  <input type="text" id="title" name="title">
  <label for="title_en">영화명(영문) : </label>
  <input type="text" id="title_en" name="title_en">
  <label for="audience">누적 관객수 : </label>
  <input type="number" id="audience" name="audience">
  <label for="open_date">개봉일 : </label>
  <input type="date" id="open_date" name="open_date">
  <label for="genre">장르 : </label>
  <input type="text" id="genre" name="genre">
  <label for="watch_grade">관람등급 : </label>
  <input type="text" id="watch_grade" name="watch_grade">
  <label for="score">평점 : </label>
  <input type="number" id="score" name="score">
  <label for="poster_url">포스터 이미지 URL : </label>
  <input type="text" id="poster_url" name="poster_url">
  <label for="description">영화 소개 : </label>
  <textarea id="description" name="description" cols="30" rows="10">
    내용을 입력해주세요
  </textarea>
  <input type="submit" value="등록">
</form>
{% endblock %}